---
Checks: >
  -*,
  modernize-*,
  readability-*,
  bugprone-*,
  performance-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -modernize-avoid-c-arrays
HeaderFilterRegex: 'src/.*\.h$'
